<h1>Check out this sexy blank app!</h1>

		<div>
      <%= image_tag 'slider1.jpg' %>
      	<h3>This is me!</h3>
    </div>
    
    <div>
      <%= image_tag 'slider2.jpg' %>
      	<h3>My beautiful girlfriend Summer and I! </h3>
    </div>

    <div>
      <%= image_tag 'slider3.jpg' %>
      	<h3>This is my little Ruby!</h3>
    </div>